/*
 * File .......... style.css
 * Author ........ Steve Haywood
 * Website ....... http://www.spacewire.co.uk
 * Project ....... SpaceWire UK Tutorial
 * Version ....... 1.0
 * Conception .... 28 February 2024
 * Standard ...... CSS 3
 * Description ...
 *   Cascading Style Sheet for Interactive Zedboard.
 */

.zedboard {
  border: 0;
  float: left;
  position: relative;
}

.led_0 { position: absolute; left: 391px; top: 446px; }
.led_1 { position: absolute; left: 365px; top: 446px; }
.led_2 { position: absolute; left: 339px; top: 446px; }
.led_3 { position: absolute; left: 313px; top: 446px; }
.led_4 { position: absolute; left: 287px; top: 446px; }
.led_5 { position: absolute; left: 261px; top: 446px; }
.led_6 { position: absolute; left: 235px; top: 446px; }
.led_7 { position: absolute; left: 209px; top: 446px; }

.sw_0 { position: absolute; left: 388px; top: 475px; }
.sw_1 { position: absolute; left: 361px; top: 475px; }
.sw_2 { position: absolute; left: 335px; top: 475px; }
.sw_3 { position: absolute; left: 308px; top: 475px; }
.sw_4 { position: absolute; left: 281px; top: 475px; }
.sw_5 { position: absolute; left: 255px; top: 475px; }
.sw_6 { position: absolute; left: 228px; top: 475px; }
.sw_7 { position: absolute; left: 201px; top: 475px; }

.btn_0 { position: absolute; left: 497px; top: 454px; }
.btn_1 { position: absolute; left: 497px; top: 485px; }
.btn_2 { position: absolute; left: 458px; top: 454px; }
.btn_3 { position: absolute; left: 536px; top: 454px; }
.btn_4 { position: absolute; left: 497px; top: 424px; }
