/*
 * File .......... style.css
 * Author ........ Steve Haywood
 * Website ....... http://www.spacewire.co.uk
 * Project ....... SpaceWire UK Tutorial
 * Version ....... 1.1
 * Conception .... 17 January 2022
 * Standard ...... CSS 3
 * Description ...
 *   Global Cascading Style Sheet for use in all webpages.
 */

body
{
  height: calc(100vh - 3px);
  margin: 0;
  font-family: "Muli", sans-serif;
}

h2, h3
{
  margin: 0;
}

.section
{
  margin: 3px;
  padding: 16px;
  background-color: #EFEFFF;
  border: 1px solid #CCCCFF;
  text-align: center;
}

.content
{
  min-height:calc(100vh - 194px);
  margin: 3px;
  padding: 16px;
  background-color: #EFEFFF;
  border: 1px solid #CCCCFF;
  text-align: center;
}

.inner
{
  margin: 3px;
  padding: 16px;
  border: 1px dashed #AAAAFF;
  text-align: center;
}

table, th, td {
  border: 1px solid #AAA;
  border-collapse: collapse;
  padding: 0.1em 0.5em;
}

table {
  display: inline-block;
  border: 0;
}


th {
  background-color: #E0E0FF;
}

th, td {
  height: 1.4em;
}

form {
  display: inline-block;
}

.menu
{
  margin: 3px;
  height: 27px;
  background-color: #EFEFFF;
  border: 1px solid #CCCCFF;
  text-align: center;
}

ul.menu_ul
{
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menu_ul li
{
  display: block;
  position: relative;
  float: left;
}

li.menu_li ul
{
  display: none;
}

ul.menu_ul li a
{
  display: block;
  text-decoration: none;
  color: #666;
  border-right: 2px solid #fff;
  padding: 5px 15px 5px 15px;
  background: #EFEFFF;
  margin-left: 1px;
  white-space: nowrap;
}

ul.menu_ul li a:hover
{
  background: #E0E0FF;
}

li.menu_li:hover ul
{
  display: block;
  position: absolute;
}

li.menu_li:hover li
{
  float: none;
  font-size: 14px;
}

li.menu_li:hover a
{
  background: #EAEAFF;
}

li.menu_li:hover li a:hover
{
  background: #E0E0FF;
}
